#gamebox{
    position:absolute;
    top: 50%;
    left: 50%;
    width:30rem;
    height:25rem;
    /* margin-top: -195px; set to a negative number 1/2 of your height */
    /* margin-left: -250px; set to a negative number 1/2 of your width */
    border: 2px solid #001a0d;
    background-color: #66ffb5;
    transform: translate(-50%,-50%);
}

#check{
    position: absolute;
    top: 50%;
    left: 50%;
    width:8rem;
    height:2.5rem;
    transform: translate(-50%,200%);
    /* display: inline-block; */
}

#mainbtn{
    position: absolute;
    top: 50%;
    left: 50%;
    width:8rem;
    height:2.5rem;
    transform: translate(-50%,80%);
    /* display: inline-block; */
}

#inputFromUser{
    position: absolute;
    top: 50%;
    left: 50%;
    width:7.6rem;
    height:1.8rem;
    transform: translate(-50%,-50%);
    /* display: inline-block; */
}

#questionWord{
    position: absolute;
    width:7.6rem;
    height:1.8rem;
    transform: translate(150%,400%);
    font-size: 2rem; 
    color:#006633; 
    }

h1{
    text-align: center;
    font-size: 3rem;
    color: #006633;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

body{
    background-color: #ccffe6;
}


/* It is important to give (left, right), (top, bottom) property with position 
position: relative  => Jo current position h, usse 100px top, bottom, left, right.
absolute => jo screen h, usse work krega. Position will not be fixed if we scroll the page
fixed => position will be fixed always even if we scroll the page.
sticky => if top is 50 px, to ye tabhi stick hoga webpage pr jb vo div screen se 50 px neeche aa jaega */